/* 
#BFD8D2 = powder
#FEDCD2 = peach
#DF744A = warm
#DCB239 = lemon
black

#60448F = blue-magenta violet
#712527 = prune
#DCAFD0 = pink lavender
#D5ED15 = arctic lime
#DOBB9E = dark vanilla

other colors
#331832 = violet
#694D75 = light violet
#1B5299 = royal blue
#9FC2CC = grayish blue
#F1ECCE = cream
*/

/* font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Lekton', sans-serif; */

body {
  background-color: #BFD8D2;
}

a:link, 
a:visited,
a:active {
  color: black;
}

a:hover {
  color:#df744a;
}


/* about */
.aboutTitle {
  margin: 5%;
  text-align: center;
  font-family: 'Lekton', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #DF744A;
}

.piccontainer {
  display: flex;
  flex-direction: row;
}

.photo {
  width: 100%;
}

.centeredAbout {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Lekton', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* get in touch */
.getInTouchTitle {
  margin: 5%;
  text-align: center;
  font-family: 'Lekton', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #DF744A;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  float: left;
  padding: 20px;
  
}

/* portfolio */
.portfolioTitle {
  margin: 5%;
  text-align: center;
  font-family: 'Lekton', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #DF744A;
}

.projectscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eachprojpicdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  padding: 30px;
  margin: 40px;
  background-color: whitesmoke;
  border-radius: 4%;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.titleandlink {
  margin: 10px;
}

.centertitlebox {
  text-align: center;
  font-size: 18px;
}

.middlebox {
  text-align: center;
}

.middlebox a {
  text-align: right;
  text-decoration: none;
}

.projectpic {
  height: 200px;
  border: 1px solid black; 
}

.bottomdesc {
  text-align: center;
}

.bottomstack {
  text-align: center;
  color: #df744a;
}
/* skills */
.skillsTitle {
  margin: 5%;
  text-align: center;
  font-family: 'Lekton', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #DF744A;
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 60px;
}

.iconText {
  text-align: center;
}

.eachIcon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100px;
  padding: 30px;
  /* width: 300px; */
}

.skillsimg {
  height: 100px;
}

/* home */
.deskImg {
  height: 30%;
  width: 100%;
  margin: auto;
  /* margin-top: 4%; */
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.text {
  font-family: 'Lekton', sans-serif;
  text-align: center;
  font-size: 1.5em;
  /* font-weight: bold; */
  margin-top: 2%;
}

.home {
  text-align: center
}

.buttontext {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1%;
  border-radius: 10px;
  padding: 10px 80px;
  background-color: #DF744A;
}

.buttontext a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: white;
}

.buttontext:hover > a {
  color: #DF744A;
}

.peachcolor {
 color: #df744a;
}

.bigtext {
  font-size: 2.5em;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.top-navbar-right {
  margin-left: auto;
  text-decoration: none;
  padding-left: 30px;
}

.top-navbar-right > a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
  /* padding-right: 30px; */
}

.background {
  /* opacity: .5; */
  background-color: 	rgba(191, 216, 210, .75);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.top-navbar {
  
  width: 97%;
  /* background-color: white; */
  /* height: 5px; */
  /* padding: 2em; */
  opacity: 0.9;
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  margin: 15px;
  /* position: fixed; */
  /* border-bottom: 10px solid #6044AF; */
}

.top-navbar-left > a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.5em;
/* padding-left: 10px; */
}

.top-navbar-left-img {
  display: flex;
  justify-content: center;
  width: 70%;
}

.App {
  text-align: left;
}

.App-logo {
  /* animation: App-logo-spin infinite 15s linear; */
  height: 80px;
  color: #DCAFD0;
}

.App-header {
  background-color: #331832;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ Media Queries ------ */
@media screen and (max-width: 730px) {
  .top-navbar-left {
    font-size: 1em;
    display: flex;
    justify-content: center;
  }

  .top-navbar-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .top-navbar {
    font-size: 16px;
  }
  .centeredAbout {
    font-size: 16px;
    top: 60%;
  }
}

@media screen and (max-width: 590px) {
  .top-navbar-left{
    display: flex;
    justify-content: center;
    
  }

  .top-navbar-right {
    display: flex;
    flex-wrap: wrap;
  }

  .top-navbar {
    font-size: 14px;
  }

  /* .bigtext {
    font-size: 2em;
  }

  .text {
    font-size: 20px;
  } */

  .buttontext {
    font-size: 25px;
  }

  .centeredAbout {
    font-size: 14px;
    top: 55%;
  }
}
